@model IEnumerable<StreetLighting.Models.Entities.Street>

@{ ViewData["Title"] = "Улицы"; }

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div>
                <form asp-controller="Street" asp-action="Index" method="post">
                    <p>
                        Название: <input type="text" name="search" />
                        <input type="submit" value="Поиск" class="btn bg-warning" />
                    </p>
                </form>
                <div>
                    <a asp-controller="Street" asp-action="Create" class="btn bg-warning">
                        <span>Добавить улицу</span>
                    </a>
                </div>
            </div>
        </div>
        <table class="table table-hover">
            <thead class="bg-warning text-black">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BuildingCount)
                    </th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody class="table-bordered border-dark">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.BuildingCount)
                        </td>
                        <td>
                            <a asp-action="Update" asp-controller="Street" asp-route-id="@item.Id" class="btn bg-dark p-1 text-white">Редактирование</a>
                            <a asp-action="Delete" asp-controller="Street" asp-route-id="@item.Id" class="btn bg-dark p-1 text-white">Удаление</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>